{% extends 'layouts/appBase.html.twig' %}
{% block page %}
    <div class="container">
        <h1 class="page-header">Feeds near you</h1>
        <form class="search-filter form-inline" method="get">
            <div class="form-group">
                {#<label for="suburbId">Suburb</label>#}
                <select class="form-control" id="suburbId" name="suburbId" required>
                    <option value="" disabled selected>Find Feeds in...</option>
                    {% for suburb in suburbs %}
                        <option value="{{ suburb.suburbId }}" {% if suburbParam is defined and suburbParam.suburbId == suburb.suburbId %}selected{% endif %}>{{ suburb.name }} {{ suburb.postCode }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
        {% for feed in feeds %}
            <div class="row">
                <div class="search-result-container">
                    <a href="/feeds/{{ feed.feedId }}">
                        <div class="row">
                            <div class="search-result">
                                <div class="col-lg-3">
                                    <img class="img-responsive img-feed-photo" src="photos/{{ feed.feedId }}"
                                         alt="photo">
                                </div>
                                <div class="col-lg-9">
                                    <h3 class="search-result-header">{{ feed.title }}</h3>
                                    <p class="search-result-description">{{ feed.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
